In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Create DataFrame").getOrCreate()

In [0]:
# Create a data frame from a SQL query: You can create a data frame from a SQL query using the spark.sql() method.

In [0]:
df_sql = spark.sql ("select * from workspace.practice.employees")
df_sql.show()

+-----+---------+--------+----------+---------------+--------+----------+
|EmpID|FirstName|LastName|Department|       JobTitle|  Salary|  HireDate|
+-----+---------+--------+----------+---------------+--------+----------+
|    1|    Alice| Johnson|        HR|      Recruiter|45000.00|2020-01-15|
|    2|      Bob|   Smith|        IT|      Developer|60000.00|2019-03-22|
|    3|  Charlie|   Brown|   Finance|        Analyst|55000.00|2021-07-10|
|    4|    Diana|  Prince|        IT|      Developer|62000.00|2018-11-05|
|    5|    Ethan|    Hunt|     Sales|Sales Executive|50000.00|2022-02-18|
|    6|    Fiona|   Clark|   Finance|        Manager|75000.00|2017-09-30|
|    7|   George|  Miller|        HR|     HR Manager|70000.00|2016-06-12|
|    8|   Hannah|     Lee|     Sales|Sales Executive|52000.00|2021-04-25|
|    9|      Ian|  Wright|        IT|   System Admin|58000.00|2019-08-14|
|   10|    Julia| Roberts|   Finance|        Analyst|56000.00|2020-12-01|
|   38|  First38|  Last38|   Finance|        Analyst|59000.00|2015-02-08|
|   39|  First39|  Last39|     Sales|Sales Executive|59500.00|2015-02-09|
|   40|  First40|  Last40|        HR|      Recruiter|60000.00|2015-02-10|
|   41|  First41|  Last41|        IT|      Developer|60500.00|2015-02-11|
|   42|  First42|  Last42|   Finance|        Analyst|61000.00|2015-02-12|
|   43|  First43|  Last43|     Sales|Sales Executive|61500.00|2015-02-13|
|   44|  First44|  Last44|        HR|      Recruiter|62000.00|2015-02-14|
|   45|  First45|  Last45|        IT|      Developer|62500.00|2015-02-15|
|   46|  First46|  Last46|   Finance|        Analyst|63000.00|2015-02-16|
|   47|  First47|  Last47|     Sales|Sales Executive|63500.00|2015-02-17|
+-----+---------+--------+----------+---------------+--------+----------+
only showing top 20 rows

In [0]:
# Create a data frame from an RDD: You can create a data frame from an existing RDD using the toDF() method.

In [0]:
rdd = sc.parallelize([(1, "John", 25), (2, "Jane", 30), (3, "Bob", 35)])
df = rdd.toDF(["id", "name", "age"])
df.show()

In [0]:
# Create a data frame from a list of dictionaries: You can create a data frame from a list of dictionaries using the createDataFrame() method.

In [0]:
data = [{"id": 1, "name": "John", "age": 25},
					{"id": 2, "name": "Jane", "age": 30},
					{"id": 3, "name": "Bob", "age": 35}]
df = spark.createDataFrame(data)
df.show()

+---+---+----+
|age| id|name|
+---+---+----+
| 25|  1|John|
| 30|  2|Jane|
| 35|  3| Bob|
+---+---+----+