In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Import CSV").getOrCreate()

In [0]:
df_csv= spark.read.csv('/Volumes/workspace/practice/my_volume/csv_file.csv')
df_csv.show()

+---+-------+---+------------+------+
|_c0|    _c1|_c2|         _c3|   _c4|
+---+-------+---+------------+------+
| id|   name|age|        city|salary|
|  1|  Alice| 28|    New York| 70000|
|  2|    Bob| 34| Los Angeles| 85000|
|  3|Charlie| 25|     Chicago| 62000|
|  4|  David| 45|     Houston| 95000|
|  5|    Eva| 30|     Phoenix| 72000|
|  6|  Frank| 38|Philadelphia| 88000|
|  7|  Grace| 27| San Antonio| 64000|
|  8| Hannah| 32|   San Diego| 79000|
|  9|    Ian| 29|      Dallas| 73000|
| 10|  Julia| 41|    San Jose| 91000|
+---+-------+---+------------+------+

In [0]:
df_csv= spark.read.csv('/Volumes/workspace/practice/my_volume/csv_file.csv',inferSchema=True,header=True,sep=',')
df_csv.show()

+---+-------+---+------------+------+
| id|   name|age|        city|salary|
+---+-------+---+------------+------+
|  1|  Alice| 28|    New York| 70000|
|  2|    Bob| 34| Los Angeles| 85000|
|  3|Charlie| 25|     Chicago| 62000|
|  4|  David| 45|     Houston| 95000|
|  5|    Eva| 30|     Phoenix| 72000|
|  6|  Frank| 38|Philadelphia| 88000|
|  7|  Grace| 27| San Antonio| 64000|
|  8| Hannah| 32|   San Diego| 79000|
|  9|    Ian| 29|      Dallas| 73000|
| 10|  Julia| 41|    San Jose| 91000|
+---+-------+---+------------+------+

In [0]:
df_csv.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
df_csv.write.mode("overwrite").saveAsTable("workspace.practice.csv_table")

In [0]:
df_csv= spark.read.option("header","true").option("inferSchema","true").option("delimiter",",").csv('/Volumes/workspace/practice/my_volume/csv_file.csv')
df_csv.show()

+---+-------+---+------------+------+
| id|   name|age|        city|salary|
+---+-------+---+------------+------+
|  1|  Alice| 28|    New York| 70000|
|  2|    Bob| 34| Los Angeles| 85000|
|  3|Charlie| 25|     Chicago| 62000|
|  4|  David| 45|     Houston| 95000|
|  5|    Eva| 30|     Phoenix| 72000|
|  6|  Frank| 38|Philadelphia| 88000|
|  7|  Grace| 27| San Antonio| 64000|
|  8| Hannah| 32|   San Diego| 79000|
|  9|    Ian| 29|      Dallas| 73000|
| 10|  Julia| 41|    San Jose| 91000|
+---+-------+---+------------+------+

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

# Define schema explicitly
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("price", DoubleType(), True)
])

# Read CSV with delimiter specified
df_csv = spark.read.csv(
    '/Volumes/workspace/practice/my_volume/csv_file.csv',
    schema=schema,
    header=True,
    sep=","   # Explicitly mention delimiter
)

df_csv.show()
df_csv.printSchema()

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  Alice| 28.0|
|  2|    Bob| 34.0|
|  3|Charlie| 25.0|
|  4|  David| 45.0|
|  5|    Eva| 30.0|
|  6|  Frank| 38.0|
|  7|  Grace| 27.0|
|  8| Hannah| 32.0|
|  9|    Ian| 29.0|
| 10|  Julia| 41.0|
+---+-------+-----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- price: double (nullable = true)